html{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    /* width: 100%;
    height: 100%; */
    background-image: url(https://images.unsplash.com/photo-1542281286-9e0a16bb7366?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8NXx8fGVufDB8fHx8fA%3D%3D&w=1000&q=80);
     background-repeat: repeat;
     background-size: cover;
     
     /* position: relative; */
     
}
.header{
    width: 100%;
    display: flex;
     background-color: grey;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 5px 0;
     
}
.logo{
    padding-left: 10px;
}
.login{
    display: flex;
    padding-right: 20px;
     
}
a{
    text-decoration: none;
    color: #fff;
}
.main-div{
    width: 100%;
     height: 65vh;
    display: flex; 
    justify-content: center;
    align-items: center;
     
     
     
}
.center-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 450px;
     background-color: rgb(104, 100, 100);
    height: 60vh;
    margin-top: 25px;
    border: 1px solid black;
    opacity: 0.7;
    
}
/* .signin::after{
    
    content: " ";
    position: absolute;
    left: 1485px;
    right: 200px;
    bottom: 680px;
    font-size: xx-large;
    border-left: 10px;
    color: red;
} */
.signin:hover{
    color: lightblue;
}
.signup:hover{
    color: lightblue;
}
 
.row{
    display: flex;
    /* flex-wrap: nowrap; */
     width: 100%;  
      
     
}

.col-4{
    display: flex;
     flex-direction: column;
     margin: 10px;
     width: 100%; 
     align-items: center;
     
     
     
}
h2{
    color: #fff;
}
/* input styling */
input[type=text], [type=email], [type=password], [type=submit]{
    width: 90%;
    padding: 10px 10px;
    margin: 8px 0;
      
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
 label{
    color: #fff;
 }
 
input:focus {
     outline: none;
     border-color: blue;
}
/* footer css */
.footer{
    width: 100%;
    height: 80px;
    position: fixed;
    bottom:0;
    left: 0;
    background-color: rgb(104, 100, 100);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-div{
    font-size: 23px;
    color: #fff;
}
.footer-div:hover{
    color: blue;
    font-size: 25px;
    cursor: pointer;
}
 
/* responsive css */
/* @media only screen and (max-width: 1200px) {
    body {
        background-image: url(image.jpg);
        background-size: 100%, 100%;
        background-repeat: no-repeat;
    }
  }
  
@media only screen and (max-width: 600px) {
    body {
       background-image: none;
    }
  } */